body{
    display: flex;
    flex-direction: column;
}


a {
    text-decoration: none;
    color: white;
}
div.logo {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
}
ul.links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

div.header, div.top {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0px 250px 0px 250px;
}

div.footer {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    justify-content: center;
    padding: 30px;
}

div.top {
    padding: 50px 250px 100px 250px;
    color: #E5E7EB;
}

div.top-text {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

div.awesome-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0px 0px 5px 0px;
}

button.sign-up {
    background-color: #3882F6;
    color:white;
    max-width: 100px;
    padding: 10px;
    border: 0;
    margin: 10px 0px;
    border-radius: 10px;

}
button.sign-up-2 {
    background-color: #3882F6;
    font-weight: bold;
    color:white;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
    width: 150px;

}

div.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 300px 50px 300px;

}

div.title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 50px 0px 50px 0px;

}

div.card-list {
    display: flex;
    justify-content: center;
    gap: 50px;
}
div.card {
    width: 150px;
}
div.card-text {
    color: #1F2937;
    text-align: center;
}
div.quote {
    display: flex;
    flex-direction: column;
    padding: 70px 320px 70px 320px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
}
div.quote-author {
    text-align: right;
    font-weight: bold;
}

div.call-to-action{
    display: flex;
    justify-content: space-between;
    margin: 100px 250px 100px 250px;
    background-color: #3882F6;
    color: white;
    padding: 50px 150px 50px 150px;
    border-radius: 10px;
}
div.call-to-action-text {
    display: flex;
    flex-direction: column;
}
div.call-to-action-text-bold{
    font-weight: bold;
    font-size: 24px;
}




img.placeholder {
    width: 500px;
    height: auto;
}

img.blue-square {
    width: 150px;
    height: auto;
}


