body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1F2937;

    
}
.header{
    color: white;
    padding: 0 300px;

}
#logo{
    width: 70px;
    margin-right: auto;
}
.navbar{
    display: flex;
}
ul.header-links{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
ul a {
    text-decoration: none;
    color: inherit
}

.sign-up-header{
    display: flex;
    padding: 50px 0 50px 0;
}
.text{
    max-width: 50%;
}

.card-content{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px 0 20px 0;

}
.cards{
    display: flex;
    justify-content: center;
}
.card{
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.quote{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px
}

.footer{
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    color: white;
}